*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #eee;
  margin: 1rem 10rem 3rem;
}

h1 {
  font-size: 3rem;
}

p {
  margin-block: .5rem;
}

.muted {
  color: #999;
}

// p:not(.muted) {
//   font-size: 1.25rem;
// }

button {
  background-color: #ff5e00;
  color: #eee;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1em;

  &.link {
    background-color: transparent;
    color: #fab54b;
    box-shadow: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0;
    border-radius: 1em;
    text-decoration: underline;
    transition: color 0.2s;

    &:hover {
      color: ligten(#fab54b, 10%);
    }
  }
}

.container {
  background-color: #292929;
  padding: .5rem 1rem;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05);

  h2 {
    text-align: center;
  }
}

.or {
  display: block;
  text-align: center;
  color: #999;
  margin: .5em 0 .25em;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    width: 1ch;
    height: 1px;
    background-color: #999;
    vertical-align: middle;
    margin: 0 .5em;
  }
}